
<div>
  <h1>Willkommen in ihrem digitalen Klassenbuch</h1>
  <form>
    <table>
      <tr>
        <th colspan="2">Bitte loggen Sie sich ein</th>
      </tr>
      <tr>
        <td>Benutzername</td>
        <td><input type= "text" name= "user" /></td>
      </tr>
      <tr>
        <td>Passwort</td>
        <td><input type ="password" name= "password" /></td>
      </tr>
    </table>
  </form>
</div>
<a href= "welcome.html"><input type= "submit" value="Login" /></a>
<a href= "klassen_admin.html"><input type= "submit" value= "Admin" /></a>
